.navbar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .animated-book-reviews .book-review {
    position: relative;
    overflow: hidden;
  }
  
  .animated-book-reviews .book-review img {
    position: relative;
    left: -100%;
    transition: left 0.5s ease;
  }
  
  .animated-book-reviews .book-review:hover img {
    left: 0;
  }
  
  .animated-book-reviews .book-review .book-details {
    position: relative;
    left: 100%;
    transition: left 0.5s ease;
  }
  
  .animated-book-reviews .book-review:hover .book-details {
    left: 0;
  }
    